#sidebar{
  width: 20%;
  display: inline-block;
  float: left;
  border-right: 2px solid black;
  margin-right: 3%;

  .header{
    margin-top: 0px;
    text-align: center;
  }
}

#main_view{
  width: 76%;
  display: inline-block;
}
