// Place all the styles related to the salesforce controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sobject_list{
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 8px;
}

#sobject_item{
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 8px;
  border: 1px solid black;
}